<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>
        <p>Hey,</p> Please provide the information, our accademic counsellor will get back to you.
      </mat-card-title>
    </mat-card-header>

    <div class="container">
      <form [formGroup]="form" (ngSubmit)="registerStudent()" class="example-form">
          <mat-form-field appearance="standard">
              <mat-label>Full Name</mat-label>
              <input matInput maxlength="30" inputmode="tel" placeholder="Type name" formControlName="Name" #nameInput>
              <!-- <mat-hint>Mini character 4: {{ nameInput.value.length }}/4</mat-hint> -->
              <mat-error>Name is required</mat-error>
              <mat-error **ngIf="(form.get('Name')).errors?.minlength">
                  Please enter more than 10 character
              </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="legacy">
              <mat-label>Email Address:</mat-label>
              <input matInput type="email" formControlName="Email" placeholder="Your email">
              <!-- <mat-icon matSuffix>mail_outline</mat-icon> -->
              <!-- <mat-hint>Input the fully qualified email address</mat-hint> -->
              <mat-error>Email is required</mat-error>
              <!-- <mat-error **ngIf="(form.get('email')).errors.required">Email is required</mat-error>
              <mat-error **ngIf="(form.get('email')).errors?.pattern">Please enter valid email</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Phone</mat-label>
            <input matInput maxlength="15" inputmode="tel" placeholder="Type Phone number" formControlName="Mobile_No" #phoneInput>
            <!-- <mat-hint>Enter 10 digit Mobile Number 10: {{ phoneInput.value.length }}/10</mat-hint> -->
            <mat-error>Please, Enter 10 digit Mobile Number.</mat-error>
            <mat-error **ngIf="(form.get('Mobile_No')).errors?.minlength">
              Please, Enter 10 digit Mobile Number.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Amount</mat-label>
            <input matInput maxlength="15" inputmode="amount" placeholder="Type Amount" formControlName="Amount" #amountInput>
            <mat-error>Please, Enter loan amount more than 1000</mat-error>
            <mat-error **ngIf="(form.get('Amount')).errors?.minlength">
              Please, Enter loan amount in number
            </mat-error>
        </mat-form-field>
          <div mat-dialog-actions align="end">
              <re-captcha (resolved)="resolved($event)"></re-captcha>
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || !token ">Submit</button>
          </div>
      </form>
  </div>
  </mat-card>
</div>