<mat-toolbar color="primary" class="app-header">
  
  <span class="nav-tool-items">
    <div class="logo"><img src="https://certification-dev.stackroute.io/assets/images/NIIT.jpeg" alt="niit-logo" class="img-responsive new-niit-logo"></div>
    <div class="form-header"><a href="#" class="positronx">Loan Request Form</a></div>
  </span>
</mat-toolbar>
<mat-toolbar color="primary" class="app-footer">
  <div class="copyrights">
    <h6 class="copyrights">COPYRIGHT © NIIT 2022. All Rights Reserved.</h6>

  </div>
  <div>
    <ul class="privacy-link">
      <li class="inline-link">
        <a class="privacy" href="https://www.niit.com/india/training/policy/pages/privacy-statement.aspx" target="_blank">Privacy
          Policy</a>
      </li>
      <li class="inline-link">
        <a class="privacy" href="https://www.niit.com/india/training/policy/pages/terms-of-use.aspx" target="_blank">Terms of Use</a>
      </li>
    </ul>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>